@import url(reset.css);
@import url(style.css);

.homeHeader {
    background-color: var(--purple);
    font-size: 2rem;
    padding: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 70vh;
}
    
.homeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
    
.home p {
    padding: 1rem;
    border: 0.2rem solid white;
    background-color: var(--purple);
    text-align: center;
}

.link {
    width: 15vw;
}